{% extends('base.html.twig') %}

{% block title %} Home {% endblock %}

{% block stylesheets %}
    <style>
        .table { border-collapse: collapse; }
        .table th, td {
            border-bottom: 1px solid #ddd;
            width: 250px;
            text-align: left;
            align: left;
        }
    </style>
{% endblock %}

{% block body %}




    <br>
    <br>
    <!-- Bootstrap code/Modal Window -->

    <button type="button"  class="btn btn-success" data-toggle="modal" data-target="#myModal">Add</button>

    <!-- Modal content-->

    <form id="data" method="post" enctype="multipart/form-data">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">


                <div class="modal-content">
                    <div class="modal-header">


                        <h4 class="modal-title" align="left"> Add New </h4>
                    </div>
                    <div class="modal-body">
                        <span id = "errors"></span>
                       {{ form_start(form) }}
                        <td><label>Select: </label>
                            {{ form_row(form.type) }}</td>
                        <td><label>Upload: </label>
                            {{ form_row(form.doc_upload)}}</td>


                    </div>
                    <div class="modal-footer">

                        <td><button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>   </td>
                        {{ form_end(form) }}





                    </div>
                </div>

            </div>
        </div>
    </form>





    <table id="doctable" class="table">
        <thead>
        <th>Type</th>
        <th>Link</th>
        <th>Actions</th>
        </thead>
        <tbody id="docs">

        </tbody>
    </table>



{% endblock %}


{% block javascripts %}

<script language="JavaScript" >




    //making function which will load data table

    function loadTable() {


        $.ajax({
            url: '/ajax',
            type: 'POST',
            dataType: 'json',
            async: false,
            success: function (data) {

                $('#docs').html('');          // clearing table from old data
                 counter = 0;
                for (i = 0; i < data.length; i++) {

                    x = data[i];
                    y = x['id'];           //get all ID-s
                    z = x['doc_upload'];   //get all document names for download button

                    e = $('<tr>' +
                        '<td id = "docName"></td>' +
                        '<td id = "doc_upload"></td>' +

                        '<td>' +
                        '<a href="doc_upload/' + z +'" class="btn btn-dark" download="' + z+ '">Download</a> ' +
                        '<a href="/edit/' +y+ '"  class="btn btn-primary"  >Edit</a> ' +
                        '<a href="#" class="btn btn-danger delete-article" data-id="' + y + '">Delete</a>' +

                        '</td>' +
                        '</tr>');

                    $('#docName', e).html(x['docName']);
                    $('#doc_upload', e).html(x['doc_upload']);
                    $('#docs').append(e);

                    counter++;
                }
                if(counter === 0)
                {
                    alert('User currently does not have any documents uploaded!')
                }


            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Ajax request failed');
            }
        });

    }



    // load table on homepage

    $(document).ready(function () {

         loadTable();

    });





    // insert part


    $(document).ready(function() {

        $.ajaxSetup({

            headers: {

                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')

            }

        });

        $("form#data").submit(function (e) {

            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({

                type: 'POST',
                url: '/',
                data: formData,
                async:false,
                success: function (data) {

                    $('#myModal').modal('hide');     //close modal after reload
                    $('#data')[0].reset();          //reset form fields on success

                },
                cache: false,
                contentType: false,
                processData: false,

                error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request failed');

                }


            });

         loadTable();      //reload table if ajax request above success
            alert('Success! Document Inserted!');


   });

});

    // update part (last thing what I am going do and update  ...)



    //  delete part

    const articles = document.getElementById('doctable');

    if (articles) {
        articles.addEventListener('click', e => {
            if (e.target.className === 'btn btn-danger delete-article') {

                if (confirm('Are You Sure')) {
                    const id = e.target.getAttribute('data-id');
                    //alert(id);

                    fetch(`/document/delete/${id}`, {
                        method: 'DELETE'

                    }).then(function(response) {



                        $(document).ready(function () {

                            $.ajaxSetup({

                                headers: {

                                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')

                                }

                            });

                            loadTable();   //reload table on success
                            alert('Success! Document Removed!');

                        });
                    });
                }
            }

        });
    }


</script>


    {% endblock %}
        