{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}

    {% if is_granted(expression(
        '"ROLE_USER" in roles or (not is_anonymous())'
        )) %}
        <h3>User is already logged in! </h3>
        <h3> Please log out first if you want to log in as another user.</h3>
    {% else %}

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h2 class="h3 mb-3 font-weight-normal">Please log in to proceed further!!</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-primary" type="submit">
           Submit
        </button>
    </form>
    {% endif %}
{% endblock %}